.mesa{
  width: 100%;
  height: 100vw;
  background-image: url("./mesa.jpg");
  // background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  &__p1{
    .item{
      position: absolute;
    }
    .item1{
      top: 20%;
      left: 10%;
    }
    .item2{
      top: 50%;
      left: 40%;
    }
    .item:hover{
      cursor: pointer;
      -webkit-filter: drop-shadow(2px 2px 15px #ffffff);
      filter: drop-shadow(2px 2px 15px #ffffff);
      label{
        visibility: visible;
      }
    }
    label{
      visibility: hidden;
      padding-left: 25px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      color: #ffffff;
      text-shadow: 2px 2px 15px #000000;
    }
  }
}